

body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200;

}


section.container {
    scroll-snap-align: start;
    min-height: 95vh;
}

h1 {
    color: $black;
}

.hidden {
    display: none !important;
}

.about {
    text-align: center;
    h1{
        width: 100%;
        padding-top: 4em;
    }
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: auto;
    width: 100%;
    p{
        width: 85%;
        margin: auto;
        font-size: 1.2em;
    }
    img {
    width: 90%;
    border-radius: 2px;
    padding-bottom: 1em;
    margin: auto;
}
}
}

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .js-scroll.scrolled {
    opacity: 1;
  }
  
  .scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
  }
  
  .scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
  }
  